{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block main %}
    <section class="row inscription">


        {% if formPrestataire is null %}   {#    Étape 2 #}
            <h2 class="titre-general">Inscription - Étape 2/3</h2>
            {#    <p style="color: red;">{{ erreur ?? erreur }}</p> #}
            <p>Votre inscription est confirmée, quel type d'utilisateur êtes vous? </p>

            <label for="inscription_prestataire" class="label-choix">Je suis un prestataire</label>
            <input type="checkbox" id="inscription_prestataire" name="choix">
            <div class="form">
                <div class=" ">
                    {{ form(formUser) }}
                </div>
            </div>
            <label for="inscription_internaute" class="label-choix">Je suis un internaute</label>
            <input type="checkbox" id="inscription_internaute" name="choix">
            <div class="form">formulaire utilisateur à venir...</div>


            <form action="{{ path('app_inscription') }}" method="post">

            </form>
        {% else %} {#    Étape 3  #}

            <h2 class="titre-general">Inscription - Étape 3/3</h2>
            {#    <p style="color: red;">{{ erreur ?? erreur }}</p> #}
            <p>Veillez compléter vos informations de prestataire :</p>
                {{ form(formPrestataire) }}
        {% endif %}



        {#            <div class="six columns"> {{ form(formPrestataire) }}</div> #}




        {# returns the value of foo if it is defined and not null, 'no' otherwise #}

    </section>
{% endblock %}
