<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Annuaire du bien être{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('css/normalize.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/skeleton.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="">
        <div class="row">
            {% block bandeau %}
                <section class="bandeau eight columns">Bandeau</section>
            {% endblock %}
            <section class="identification four columns">
                {% block identification %}
                    <div>
                        <a href="#" class="btn-lien">Connexion</a>
                        <a href="{{ path('app_inscription') }}" class="btn-lien">Inscription</a>
                    </div>
                {% endblock %}
            </section>
        </div>
        <section class="recherche">
            {% block recherche %}
                <details open>
                    <summary>
                        <h2 class="titre-general">Rechercher un prestataire </h2>
                    </summary>
                    <form method="POST" action="{{ path('app_recherchePrestataire') }}">

                        <div class="row">
                            <div class="four columns">
                                <label for="commune">Par commune</label>
                                <input class="u-full-width" type="text" name="commune" id="commune"
                                       placeholder="Recherche par commune">
                            </div>
                            <div class="four columns">
                                <label for="province">Par province</label>
                                <input class="u-full-width" type="text" name="province" id="province"
                                       placeholder="Recherche par province">
                            </div>
                            <div class="four columns">
                                <label class="u-full-width" for="cp">Par code postal</label>
                                <input class="u-full-width" type="text" name="cp" id="cp"
                                       placeholder="Recherche par code postal">
                            </div>
                        </div>
                        <div class="row">
                            <div class="four columns">
                                <label class="u-full-width" for="categorie">Par catégorie</label>
                                {#                                <input class="u-full-width" type="text" name="categorie" id="categorie" list="categorie-list" pattern="[A-Za-z]+"> #}
                                {#                                <datalist id="categorie-list"> #}
                                {#                                    {{ render(controller('App\\Controller\\ListeCategorieController::listOption')) }} #}
                                {#                                </datalist> #}
                                <select name="categorie" id="categorie" class="u-full-width">
                                    <option value="" disabled selected>- Sélectionner une catégorie -</option>
                                    {#                                {{ render(controller('App\\Controller\\ListeCategorieController::selectOption')) }} #}
                                </select>

                            </div>
                            <div class="four columns">
                                <label for="prestataire">Par nom de prestataire</label>
                                <input class="u-full-width" type="text" name="prestataire" id="prestataire"
                                       placeholder="Recherche par nom">
                            </div>
                            <div class="four columns">
                                <br>
                                <input type="submit" class="button-primary u-pull-right"
                                       value="Rechercher un prestataire">
                            </div>
                        </div>
                    </form>
                </details>
            {% endblock %}
        </section>
        <div class="row">
            <section class="categorie three columns">
                {% block categorie %}
                    Catégorie
                {% endblock %}
            </section>
            <main class="main nine columns">
                {% block main %}
                    <section class="row">
                        <p>La société « Bien-Être » est une association dont le principal objectif est de promouvoir des
                            services dans le domaine du bien-être.
                            Elle agit en qualité d'intermédiaire entre les prestataires de services et les
                            internautes.</p>
                        <p class="align-center"><span class="contrast">Inscrivez-vous, c’est gratuit</span></p>
                        <p>Dans ce site vous pourrez :</p>
                    </section>
                    <div class="row">
                        <section class="six columns presentation">
                            <h2>En tant que visiteur: </h2>
                            <ul class="listePresentation">
                                <li>Trouver un service pour votre bien être</li>
                                <li>Connaitre les stages et promotions d’un prestataire</li>
                                <li>Mettre en favoris un prestataire</li>
                                <li>Recommander un prestataire à un ami</li>
                                <li>Poster des commentaires</li>
                                <li>Attribuer une cote à un prestataire</li>
                            </ul>
                        </section>
                        <section class="six columns presentation">
                            <h2>En tant que prestataire : </h2>
                            <ul class="listePresentation">
                                <li>Proposer vos services</li>
                                <li>Fidéliser via des promotions régulières</li>
                                <li>Annoncer les stages que vous organisez</li>
                            </ul>
                        </section>
                    </div>
                    {#  Ce controleur est appeller en GET !!! Il est nécessaire de lui passer un paramêtre à l'url qui est la Request #}
                    {#                    {{ render(controller('App\\Controller\\Recherche\\RechercheController::recherchePrestataire' , {request:   requete   })) }} #}


                {% endblock %}
            </main>
        </div>
        <div class="row">
            <section class="footer twelve columns">
                {% block footer %}
                    footer
                {% endblock %}
            </section>
        </div>
    </div>
{% endblock %}
</body>
</html>
