<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Annuaire du bien être{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('css/normalize.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/skeleton.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="">
        <div class="row">
            {% block bandeau %}
                <section class="bandeau eight columns">Bandeau</section>
            {% endblock %}
            <section class="identification four columns">
                {% block identification %}
                    Identification
                {% endblock %}
            </section>
        </div>
        <section class="recherche">
            {% block recherche %}
                <details open>
                    <summary>
                        <h2 class="titre-general">Recherche</h2>
                    </summary>
                    <form method="POST" action="{{ path('app_recherchePrestataire') }}">
                        <div class="row">
                            <div class="six columns">
                                <label class="u-full-width" for="categorie">Par catégorie</label>
                                {#                                <input class="u-full-width" type="text" name="categorie" id="categorie" list="categorie-list" pattern="[A-Za-z]+">#}
                                {#                                <datalist id="categorie-list">#}
                                {#                                    {{ render(controller('App\\Controller\\ListeCategorieController::listOption')) }}#}
                                {#                                </datalist>#}
                                <select name="categorie" id="categorie" class="u-full-width">
                                    <option value="" disabled selected>- Sélectionner une catégorie -</option>
                                    {#                                {{ render(controller('App\\Controller\\ListeCategorieController::selectOption')) }}#}
                                </select>

                            </div>
                            <div class="six columns">
                                <label for="prestataire">Par prestataire</label>
                                <input class="u-full-width" type="text" name="prestataire" id="prestataire">
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns">
                                <label class="u-full-width" for="cp">Par code postal</label>
                                <input class="u-full-width" type="text" name="cp" id="cp">
                            </div>
                            <div class="six columns">
                                <label for="localite">Par localité</label>
                                <input class="u-full-width" type="text" name="localite" id="localite">
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns">
                                <label for="commune">Par commune</label>
                                <input class="u-full-width" type="text" name="commune" id="commune">
                            </div>
                            <div class="six columns">
                                <br>
                                <input type="submit" class="button-primary u-pull-right"
                                       value="Rechercher un prestataire">
                            </div>
                        </div>

                    </form>
                </details>
            {% endblock %}
        </section>
        <div class="row">
            <section class="categorie four columns">
                {% block categorie %}
                    Catégorie
                {% endblock %}
            </section>
            <main class="main eight columns">
                {% block main %}


                    {#  Ce controleur est appeller en GET !!! Il est nécessaire de lui passer un paramêtre à l'url qui est la Request #}
{#                    {{ render(controller('App\\Controller\\Recherche\\RechercheController::recherchePrestataire' , {request:   requete   })) }}#}


                {% endblock %}
            </main>
        </div>
        <div class="row">
            <section class="footer twelve columns">
                {% block footer %}
                    footer
                {% endblock %}
            </section>
        </div>
    </div>
{% endblock %}
</body>
</html>
