{% extends 'base.html.twig' %}

{% block main %}
   <p> {{ response }}</p>

    {% if data is not null %}
        <div class="prestataire-group">
            {% for key, user in data %}
                <div class="prestataire-description" id="prestataire-{{ key }}">
                    <h3 class="prestataire-nom">{{ user.nom }}</h3>
                    <p>Contact : {{ user.numTel }}</p>
                    <div class="align-center">
                        <a href="{{ path('app_home', { id: user.id }) }}"  class="btn-lien">Voir la fiche de ce prestataire</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


